wheel==0.37.1
twine==1.15.0; python_version < "3"
twine==3.7.1; python_version >= "3"
coverage==5.5; python_version < "3"
coverage==6.2; python_version >= "3"
django<1.12; python_version < "3"
django>=1.8,<4.1; python_version >= "3"
six==1.15.0; python_version < "3"
ndg-httpsclient>=0.5.1; python_version < "3"
mock<4.1; python_version < "3"
requests>=2.19.0
