name: Test

on:
  push:
  pull_request:
    types: [ opened, synchronize ]

jobs:
  test-py-3-9:
    runs-on: ubuntu-latest
    env:
      PYTHON_VER: 3.9
      NODE_VER: 22.x
    strategy:
      matrix:
        django-ver: [ '<2.3', '<3.1', '<3.2', '<3.3', '<4.1', '<4.2', '<4.3' ]
        mjml-ver: [ '4.14.1', '4.15.3', '4.16.1', '4.17.2' ]
        tcp-server-ver: [ 'v1.3' ]
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Checkout tcp server
        uses: actions/checkout@v4
        with:
          repository: 'liminspace/mjml-tcpserver'
          ref: ${{ matrix.tcp-server-ver }}
          path: './mjml-tcpserver'
      - name: Set up Python ${{ env.PYTHON_VER }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VER }}
      - name: Cache pip
        uses: actions/cache@v4
        env:
          cache-name: cache-pip
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ env.PYTHON_VER }}-${{ matrix.django-ver }}
          restore-keys: |
            ${{ runner.os }}-${{ env.cache-name }}-${{ env.PYTHON_VER }}-
      - name: Install Python dependencies
        run: |
          pip install "Django${{ matrix.django-ver }}"
          pip install "requests>=2.24.0,<=2.29.0"
      - name: Set up Node.js ${{ env.NODE_VER }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VER }}
      - name: Cache npm
        uses: actions/cache@v4
        env:
          cache-name: cache-npm
        with:
          path: ~/.npm
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ env.NODE_VER }}-${{ matrix.mjml-ver }}
          restore-keys: |
            ${{ runner.os }}-${{ env.cache-name }}-${{ env.NODE_VER }}-
      - name: Install Node dependencies
        run: |
          npm cache verify
          npm install -g mjml-http-server@0.1.0
          npm install mjml@${{ matrix.mjml-ver }}
      - name: Show info
        run: |
          node_modules/.bin/mjml --version
      - name: Test
        run: |
          python tools.py test
  test-py-3-10:
    runs-on: ubuntu-latest
    env:
      PYTHON_VER: '3.10'
      NODE_VER: 22.x
    strategy:
      matrix:
        django-ver: [ '<3.3', '<4.1', '<4.2', '<4.3', '<5.2', '<5.3' ]
        mjml-ver: [ '4.14.1', '4.15.3', '4.16.1', '4.17.2' ]
        tcp-server-ver: [ 'v1.3' ]
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Checkout tcp server
        uses: actions/checkout@v4
        with:
          repository: 'liminspace/mjml-tcpserver'
          ref: ${{ matrix.tcp-server-ver }}
          path: './mjml-tcpserver'
      - name: Set up Python ${{ env.PYTHON_VER }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VER }}
      - name: Cache pip
        uses: actions/cache@v4
        env:
          cache-name: cache-pip
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ env.PYTHON_VER }}-${{ matrix.django-ver }}
          restore-keys: |
            ${{ runner.os }}-${{ env.cache-name }}-${{ env.PYTHON_VER }}-
      - name: Install Python dependencies
        run: |
          pip install "Django${{ matrix.django-ver }}"
          pip install "requests>=2.24.0,<=2.29.0"
      - name: Set up Node.js ${{ env.NODE_VER }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VER }}
      - name: Cache npm
        uses: actions/cache@v4
        env:
          cache-name: cache-npm
        with:
          path: ~/.npm
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ env.NODE_VER }}-${{ matrix.mjml-ver }}
          restore-keys: |
            ${{ runner.os }}-${{ env.cache-name }}-${{ env.NODE_VER }}-
      - name: Install Node dependencies
        run: |
          npm cache verify
          npm install -g mjml-http-server@0.1.0
          npm install mjml@${{ matrix.mjml-ver }}
      - name: Show info
        run: |
          node_modules/.bin/mjml --version
      - name: Test
        run: |
          python tools.py test
  test-py-3-11:
    runs-on: ubuntu-latest
    env:
      PYTHON_VER: '3.11'
      NODE_VER: 22.x
    strategy:
      matrix:
        django-ver: [ '<4.2', '<4.3', '<5.2', '<5.3' ]
        mjml-ver: [ '4.14.1', '4.15.3', '4.16.1', '4.17.2' ]
        tcp-server-ver: [ 'v1.3' ]
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Checkout tcp server
        uses: actions/checkout@v4
        with:
          repository: 'liminspace/mjml-tcpserver'
          ref: ${{ matrix.tcp-server-ver }}
          path: './mjml-tcpserver'
      - name: Set up Python ${{ env.PYTHON_VER }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VER }}
      - name: Cache pip
        uses: actions/cache@v4
        env:
          cache-name: cache-pip
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ env.PYTHON_VER }}-${{ matrix.django-ver }}
          restore-keys: |
            ${{ runner.os }}-${{ env.cache-name }}-${{ env.PYTHON_VER }}-
      - name: Install Python dependencies
        run: |
          pip install "Django${{ matrix.django-ver }}"
          pip install "requests>=2.24.0,<=2.29.0"
      - name: Set up Node.js ${{ env.NODE_VER }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VER }}
      - name: Cache npm
        uses: actions/cache@v4
        env:
          cache-name: cache-npm
        with:
          path: ~/.npm
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ env.NODE_VER }}-${{ matrix.mjml-ver }}
          restore-keys: |
            ${{ runner.os }}-${{ env.cache-name }}-${{ env.NODE_VER }}-
      - name: Install Node dependencies
        run: |
          npm cache verify
          npm install -g mjml-http-server@0.1.0
          npm install mjml@${{ matrix.mjml-ver }}
      - name: Show info
        run: |
          node_modules/.bin/mjml --version
      - name: Test
        run: |
          python tools.py test
  test-py-3-12:
    runs-on: ubuntu-latest
    env:
      PYTHON_VER: '3.12'
      NODE_VER: 22.x
    strategy:
      matrix:
        django-ver: [ '<4.3', '<5.2', '<5.3', '<6.1' ]
        mjml-ver: [ '4.14.1', '4.15.3', '4.16.1', '4.17.2' ]
        tcp-server-ver: [ 'v1.3' ]
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Checkout tcp server
        uses: actions/checkout@v4
        with:
          repository: 'liminspace/mjml-tcpserver'
          ref: ${{ matrix.tcp-server-ver }}
          path: './mjml-tcpserver'
      - name: Set up Python ${{ env.PYTHON_VER }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VER }}
      - name: Cache pip
        uses: actions/cache@v4
        env:
          cache-name: cache-pip
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ env.PYTHON_VER }}-${{ matrix.django-ver }}
          restore-keys: |
            ${{ runner.os }}-${{ env.cache-name }}-${{ env.PYTHON_VER }}-
      - name: Install Python dependencies
        run: |
          pip install "Django${{ matrix.django-ver }}"
          pip install "requests>=2.24.0,<=2.29.0"
      - name: Set up Node.js ${{ env.NODE_VER }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VER }}
      - name: Cache npm
        uses: actions/cache@v4
        env:
          cache-name: cache-npm
        with:
          path: ~/.npm
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ env.NODE_VER }}-${{ matrix.mjml-ver }}
          restore-keys: |
            ${{ runner.os }}-${{ env.cache-name }}-${{ env.NODE_VER }}-
      - name: Install Node dependencies
        run: |
          npm cache verify
          npm install -g mjml-http-server@0.1.0
          npm install mjml@${{ matrix.mjml-ver }}
      - name: Show info
        run: |
          node_modules/.bin/mjml --version
      - name: Test
        run: |
          python tools.py test
  test-py-3-13:
    runs-on: ubuntu-latest
    env:
      PYTHON_VER: '3.13'
      NODE_VER: 22.x
    strategy:
      matrix:
        django-ver: [ '<5.2', '<5.3', '<6.1' ]
        mjml-ver: [ '4.14.1', '4.15.3', '4.16.1', '4.17.2' ]
        tcp-server-ver: [ 'v1.3' ]
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Checkout tcp server
        uses: actions/checkout@v4
        with:
          repository: 'liminspace/mjml-tcpserver'
          ref: ${{ matrix.tcp-server-ver }}
          path: './mjml-tcpserver'
      - name: Set up Python ${{ env.PYTHON_VER }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VER }}
      - name: Cache pip
        uses: actions/cache@v4
        env:
          cache-name: cache-pip
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ env.PYTHON_VER }}-${{ matrix.django-ver }}
          restore-keys: |
            ${{ runner.os }}-${{ env.cache-name }}-${{ env.PYTHON_VER }}-
      - name: Install Python dependencies
        run: |
          pip install "Django${{ matrix.django-ver }}"
          pip install "requests>=2.24.0,<=2.29.0"
      - name: Set up Node.js ${{ env.NODE_VER }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VER }}
      - name: Cache npm
        uses: actions/cache@v4
        env:
          cache-name: cache-npm
        with:
          path: ~/.npm
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ env.NODE_VER }}-${{ matrix.mjml-ver }}
          restore-keys: |
            ${{ runner.os }}-${{ env.cache-name }}-${{ env.NODE_VER }}-
      - name: Install Node dependencies
        run: |
          npm cache verify
          npm install -g mjml-http-server@0.1.0
          npm install mjml@${{ matrix.mjml-ver }}
      - name: Show info
        run: |
          node_modules/.bin/mjml --version
      - name: Test
        run: |
          python tools.py test
  test-py-3-14:
    runs-on: ubuntu-latest
    env:
      PYTHON_VER: '3.14'
      NODE_VER: 22.x
    strategy:
      matrix:
        django-ver: [ '<5.3', '<6.1' ]
        mjml-ver: [ '4.14.1', '4.15.3', '4.16.1', '4.17.2' ]
        tcp-server-ver: [ 'v1.3' ]
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Checkout tcp server
        uses: actions/checkout@v4
        with:
          repository: 'liminspace/mjml-tcpserver'
          ref: ${{ matrix.tcp-server-ver }}
          path: './mjml-tcpserver'
      - name: Set up Python ${{ env.PYTHON_VER }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VER }}
      - name: Cache pip
        uses: actions/cache@v4
        env:
          cache-name: cache-pip
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ env.PYTHON_VER }}-${{ matrix.django-ver }}
          restore-keys: |
            ${{ runner.os }}-${{ env.cache-name }}-${{ env.PYTHON_VER }}-
      - name: Install Python dependencies
        run: |
          pip install "Django${{ matrix.django-ver }}"
          pip install "requests>=2.24.0,<=2.29.0"
      - name: Set up Node.js ${{ env.NODE_VER }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VER }}
      - name: Cache npm
        uses: actions/cache@v4
        env:
          cache-name: cache-npm
        with:
          path: ~/.npm
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ env.NODE_VER }}-${{ matrix.mjml-ver }}
          restore-keys: |
            ${{ runner.os }}-${{ env.cache-name }}-${{ env.NODE_VER }}-
      - name: Install Node dependencies
        run: |
          npm cache verify
          npm install -g mjml-http-server@0.1.0
          npm install mjml@${{ matrix.mjml-ver }}
      - name: Show info
        run: |
          node_modules/.bin/mjml --version
      - name: Test
        run: |
          python tools.py test
